{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "extends": ["airbnb-base", "eslint:recommended"],
    "rules": {
        "no-unused-vars": 0,
        "max-len": [1, 150, 2, {"ignoreComments": true}],
        "linebreak-style": ["error", "unix"],
        "indent": [2, "tab"],
        "no-tabs": 0,
        "eol-last": ["error", "never"],
        "no-mixed-spaces-and-tabs": 0,
        "no-unused-expressions": [2, { "allowTernary": true, "allowShortCircuit": true }]
    },
    "env": {
        "browser": true,
        "node": true,
        "serviceworker": true,
      "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
         "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
          }
    },
    "settings": {
    "react": {
        "pragma": "React",
        "version": "16.2.0"
      }
  }
}

